@font-face {
  font-family: "PhenomenaBlack";
  src: url("./font/Phenomena-Black.otf");
}

@font-face {
  font-family: "PhenomenaRegular";
  src: url("./font/Phenomena-Regular.otf");
}

nav {
  font-family: "PhenomenaBlack";
  font-size: 30px;
}

body {
   min-height:100vh;
}

article {
  font-family: "Ubuntu";
  font-size: 19px;
  display: flex;
}


footer {
  font-size: 12px;
  font-family: "PhenomenaRegular";
}

#navmenu {
    padding: 0;
    padding-bottom: 5px;
}

#logo {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "PhenomenaBlack";
    font-size: 59px;
    padding-bottom: 5px;
}
