{#This will hold my PRC simultator online version#}
{% extends "blog/base.html" %}
{% block content %}
	<p>I want to take my rock paper scissors project even further. What I want to do is to deploy rock paper scissors simulator UI via online using ReactJS;
	then, the result will be saved to MySQL database, which will be used to generate a graph using Chart.js.
	This will test validity of the logic explained in my Rock Paper Scissors Offline project when there is no physical motion attatched to each choices.</p>
{% endblock content %}
